{% extends "base.html" %}
{% block head %}
    <meta name = "description" content="Home page for St. Andrew's HighSchool Educational Platform">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">About St. Andrew's HighSchool Educational Platform </h1>
    <p>This Learning Management System, will provide a platform for both teachers and students 
        to engage in educational activities, track progress, and facilitate effective teaching and learning. 
        It will offer a secure and user-friendly environment for the management and delivery of educational content.
        Students will be able to register, log in and access courses.
        Teachers will be able to manage course content and monitor student progress.
</p>
</div>
{% endblock content %}