{% extends "base.html" %}
{% block head %}
    <meta name = "description" content="Home page for St. Andrew's HighSchool Educational Platform">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
{% endblock stylesheets %}
{% block content %}

<div class="container-fluid mt-3">
    <h1 class="mt-4">St. Andrew's HighSchool Educational Platform</h1>
    <p>St. Andrew's HighSchool Educational Platform is a web application
        that is designed to provide a platform for managing and delivering educational content.</p>
</div>
{% endblock content %}
